*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.container-sm{
    max-width: 700px;
    margin: 0 auto;
}
ul, li{
    list-style: none;
}

a{
    text-decoration:none;
    cursor: pointer;
    color: white;
}

/* row and col */

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-2{
    flex-basis: calc(100% / 6);
}

.col-3{
    flex-basis: calc(100% / 12 * 3);
}

.col-4{
    flex-basis: calc(100% / 12 * 4);
}

.col-6{
    flex-basis: calc(100% / 12 *6);
}

.col-8{
    flex-basis: calc(100% / 12 * 8);
}

.col-10{
    flex-basis: calc(100% / 12 * 10);
}

.col-12{
    flex-basis: 100%;
}
/* header */
header{
    background-color: #255EE9;
}

.nav-bar{
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-bar__content{
    min-height: 50px;
    padding: 10px;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}
.nav-bar__logo{
    display: flex;
    justify-content: flex-start;
}
.nav-bar__login{
    display: flex;
    justify-content: flex-end;
 }

 .button{
     border-radius: 28px;
     padding: 15px 30px;
    }
    
.login-button{
        padding:10px 20px;
        color: black;
        background-color: white;
        box-shadow: 0px 0px 10px 0px black;     
}

 .nav-bar__links{
    display: flex;
    justify-content: space-evenly;
 }
 /* Main content */
 .bg-color-grey{
    background-color: #F6F6F6;
}
.content-img{
    width: 100%;
}
/* Hero content */
 .hero__bg-img{
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
 }

.hero__main{
   justify-content: center;
   padding: 120px;
}
 .hero__content{
    text-align: center;
    color: white;
 }

 .hero__content h1{
    font-size: 50px;
    margin-bottom: 25px;
 }

 .hero__description{
    font-size: 18px;
    line-height: 150% ;
 }

 .hero__button{
    justify-content: space-evenly;
    padding: 30px;
    font-size: 20px;
    font-weight: 300;
 }

 .button img{
    width: 15px;
    margin-right: 10px;
 }

 .hero__button-1{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px 0px black;
 }

 .hero__button-2{
    background-color: #23272A;
 }

 /* Page main content */

 .main-section-3 .col-4{
    order: -1;
 }

 [class^='main-section']{
    padding: 150px 0;
    align-items: center;
 }


 h2{
    font-size: 40px;
 }

 .description{
    line-height: 150%;
    font-size: 15px;
 }

 .col-4> h2, .description{
    text-align:left;
    padding: 20px;
 }

 .adventure{
    text-align: center;
 }

 .invert{
    filter: invert(100%);
 }
 .adventure__title{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    font-size: 28px;
    font-weight: bold;
    padding: 40px;
 }
 .adventure__button{
    background-color: #8EA1E1;
    color: white;
    font-size: 18px;
 }

 .adventure__button-space{
    padding: 20px;
 }


 /* Footer */
 footer{
    background-color: #23272A;
    padding: 80px 64px;
 }

 .footer__title{
    font-size: 30px;
    padding-left: 10px;
 }
 .color-violet{
    color: #6276B7;
    font-weight: bold;
 }

 li>a{
    font-size: 13px;
    line-height: 210%;
 }

 .footer__1{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
 }

 .footer__language{
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    color: white;
 }
 
 .footer__ita{
    margin-right: 8px;
 }
 .footer__flag{
    width: 24px;
    height: 16px;
    margin-right: 8px;
 }

 .footer-section{
    padding-top: 15px;
    border-top: 2px solid gray;
 }

.col-1{
    display: flex;
    justify-content: center;
    flex-basis: calc(100% / 12);
    background-color: pink;
    min-height: 30px;
    padding: 5px;
}


.footer-section__flex{
    justify-content:space-between;
    align-items: center;
    background-color: aqua;
    min-height: 60px;
}

/*  debug */

/* .debug .container{
    border: 2px solid black;   
}

.debug .row{
    border: 2px solid red;
}

.debug [class^='col-']{
    border: 1px solid green;
} */